@page "/chitietthues/create"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager

<PageTitle>Thêm chi tiết thuê</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Thêm mới chi tiết thuê</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <EditForm method="post" Model="ChiTietThue" OnValidSubmit="AddChiTietThue" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="machutro" class="form-label text-primary fw-medium">Mã chủ trọ</label> 
                <InputNumber id="machutro" @bind-Value="ChiTietThue.MaChuTro" class="form-control" /> 
                <ValidationMessage For="() => ChiTietThue.MaChuTro" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="manguoithue" class="form-label text-primary fw-medium">Mã người thuê</label> 
                <InputNumber id="manguoithue" @bind-Value="ChiTietThue.MaNguoiThue" class="form-control" /> 
                <ValidationMessage For="() => ChiTietThue.MaNguoiThue" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="thoigianthue" class="form-label text-primary fw-medium">Ngày thuê</label> 
                <InputDate id="thoigianthue" @bind-Value="ChiTietThue.ThoiGianThue" class="form-control" /> 
                <ValidationMessage For="() => ChiTietThue.ThoiGianThue" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="diachithue" class="form-label text-primary fw-medium">Địa chỉ thuê</label> 
                <InputText id="diachithue" @bind-Value="ChiTietThue.DiaChiThue" class="form-control" /> 
                <ValidationMessage For="() => ChiTietThue.DiaChiThue" class="text-danger" /> 
            </div>
            <div>
                <button type="submit" class="btn btn-primary px-4 me-3">Tạo</button>
                <a href="/chitietthues" class="text-decoration-none">Quay lại</a>
            </div>
            
        </EditForm>
    </div>
</div>



@code {

    [SupplyParameterFromForm]
    public ChiTietThue ChiTietThue { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddChiTietThue()
    {
        DB.ChiTietThue.Add(ChiTietThue);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/chitietthues");
    }
}
