@page "/chitietthues"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro

<PageTitle>Chi Tiết Thuê</PageTitle>

<h1 class="text-info">Chi Tiết Thuê</h1>

<p>
    <a href="chitietthues/create" class="btn btn-primary">Tạo mới</a>

</p>

<QuickGrid Class="table" Items="DB.ChiTietThue">
    <PropertyColumn Property="chitietthue => chitietthue.MaPhong" Title="Mã phòng" />
    <PropertyColumn Property="chitietthue => chitietthue.MaNgThue" Title="Mã người thuê" />
    <PropertyColumn Property="chitietthue => chitietthue.ThoiGianThue" Title="Thời gian thuê" />
    <PropertyColumn Property="chitietthue => chitietthue.DiaChiThue" Title="Địa chỉ thuê" />

    <TemplateColumn Context="chitietthue">
        <a href="@($"chitietthues/edit?machitietthue={chitietthue.MaChiTietThue}")" class="text-decoration-none text-warning fw-medium">Sửa</a> |
        <a href="@($"chitietthues/details?machitietthue={chitietthue.MaChiTietThue}")" class="text-decoration-none text-warning fw-medium">Chi tiết</a> |
        <a href="@($"chitietthues/delete?machitietthue={chitietthue.MaChiTietThue}")" class="text-decoration-none text-warning fw-medium">Xoá</a>
    </TemplateColumn>
</QuickGrid>
