@page "/chitietthues"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro

<PageTitle>Chi Tiết Thuê</PageTitle>

<h1>Chi Tiết Thuê</h1>

<p>
    <a href="chitietthues/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.ChiTietThue">
    <PropertyColumn Property="chitietthue => chitietthue.MaChuTro" />
    <PropertyColumn Property="chitietthue => chitietthue.MaNguoiThue" />
    <PropertyColumn Property="chitietthue => chitietthue.ThoiGianThue" />
    <PropertyColumn Property="chitietthue => chitietthue.DiaChiThue" />

    <TemplateColumn Context="chitietthue">
        <a href="@($"chitietthues/edit?machitietthue={chitietthue.MaChiTietThue}")">Edit</a> |
        <a href="@($"chitietthues/details?machitietthue={chitietthue.MaChiTietThue}")">Details</a> |
        <a href="@($"chitietthues/delete?machitietthue={chitietthue.MaChiTietThue}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
