@page "/danhgia/create"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager

<PageTitle>Thêm đánh giá</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Thêm đánh giá mới</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <EditForm method="post" Model="DanhGia" OnValidSubmit="AddDanhGia" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="ngaydanhgia" class="form-label text-primary fw-medium">Ngày đánh giá</label> 
                <InputDate id="ngaydanhgia" @bind-Value="DanhGia.NgayDanhGia" class="form-control" /> 
                <ValidationMessage For="() => DanhGia.NgayDanhGia" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="noidung" class="form-label text-primary fw-medium">Nội dung</label> 
                <InputText id="noidung" @bind-Value="DanhGia.NoiDung" class="form-control" /> 
                <ValidationMessage For="() => DanhGia.NoiDung" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="manguoidanhgia" class="form-label text-primary fw-medium">Mã đánh giá</label> 
                <InputNumber id="manguoidanhgia" @bind-Value="DanhGia.MaNguoiDanhGia" class="form-control" /> 
                <ValidationMessage For="() => DanhGia.MaNguoiDanhGia" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="maphongtro" class="form-label text-primary fw-medium">Mã phòng trọ</label> 
                <InputNumber id="maphongtro" @bind-Value="DanhGia.MaPhongTro" class="form-control" /> 
                <ValidationMessage For="() => DanhGia.MaPhongTro" class="text-danger" /> 
            </div>
            <div>
                <button type="submit" class="btn btn-primary px-4 me-3">Tạo</button>
                <a href="/danhgia" class="text-decoration-none">Quay lại</a>
            </div>
        </EditForm>
    </div>
</div>



@code {

    [SupplyParameterFromForm]
    public DanhGia DanhGia { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddDanhGia()
    {
        DB.DanhGia.Add(DanhGia);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/danhgia");
    }
}
