@page "/DanhGia/edit"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Sửa đánh giá</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Sửa đánh giá</h1>
<hr />
@if (DanhGia is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <EditForm method="post" Model="DanhGia" OnValidSubmit="UpdateDanhGia" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="DanhGia.MaDanhGia" value="@DanhGia.MaDanhGia" />
                <div class="mb-3">
                    <label for="ngaydanhgia" class="form-label text-primary fw-medium">Ngày ánh giá</label>
                    <InputDate id="ngaydanhgia" @bind-Value="DanhGia.NgayDanhGia" class="form-control" />
                    <ValidationMessage For="() => DanhGia.NgayDanhGia" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="noidung" class="form-label text-primary fw-medium">Nội dung</label>
                    <InputText id="noidung" @bind-Value="DanhGia.NoiDung" class="form-control" />
                    <ValidationMessage For="() => DanhGia.NoiDung" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="manguoidanhgia" class="form-label text-primary fw-medium">Mã đánh giá</label>
                    <InputNumber id="manguoidanhgia" @bind-Value="DanhGia.MaNguoiDanhGia" class="form-control" />
                    <ValidationMessage For="() => DanhGia.MaNguoiDanhGia" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="maphongtro" class="form-label text-primary fw-medium">Mã phòng trọ</label>
                    <InputNumber id="maphongtro" @bind-Value="DanhGia.MaPhongTro" class="form-control" />
                    <ValidationMessage For="() => DanhGia.MaPhongTro" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary px-4 my-3 me-3">Lưu</button>
                    <a href="/danhgia" class="text-decoration-none">Quay lại</a>
                </div>
                
            </EditForm>
        </div>
    </div>
}



@code {
    [SupplyParameterFromQuery]
    public int MaDanhGia { get; set; }

    [SupplyParameterFromForm]
    public DanhGia? DanhGia { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DanhGia ??= await DB.DanhGia.FirstOrDefaultAsync(m => m.MaDanhGia == MaDanhGia);

        if (DanhGia is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateDanhGia()
    {
        DB.Attach(DanhGia!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DanhGiaExists(DanhGia!.MaDanhGia))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/danhgia");
    }

    bool DanhGiaExists(int madanhgia)
    {
        return DB.DanhGia.Any(e => e.MaDanhGia == madanhgia);
    }
}
