@page "/danhgia"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro

<PageTitle>Đánh Giá</PageTitle>

<h1 class="text-info">Danh Sách Đánh Giá</h1>

<p>
    <a href="danhgia/create" class="btn btn-primary">Tạo mới</a>
</p>

<QuickGrid Class="table" Items="DB.DanhGia">
    <PropertyColumn Property="danhgia => danhgia.NgayDanhGia" Title="Ngày đánh giá"/>
    <PropertyColumn Property="danhgia => danhgia.NoiDung" Title="Nội dung"/>
    <PropertyColumn Property="danhgia => danhgia.MaNguoiDanhGia" Title="Mã đánh giá"/>
    <PropertyColumn Property="danhgia => danhgia.MaPhongTro" Title="Mã phòng trọ"/>

    <TemplateColumn Context="danhgia">
        <a href="@($"danhgia/edit?madanhgia={danhgia.MaDanhGia}")" class="text-decoration-none text-warning fw-medium">Sửa</a> |
        <a href="@($"danhgia/details?madanhgia={danhgia.MaDanhGia}")" class="text-decoration-none text-warning fw-medium">Chi tiết</a> |
        <a href="@($"danhgia/delete?madanhgia={danhgia.MaDanhGia}")" class="text-decoration-none text-warning fw-medium">Xóa</a>
    </TemplateColumn>
</QuickGrid>
