@page "/phongtros"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro

<PageTitle>Phòng Trọ</PageTitle>

<h1 class="text-info">Danh Sách Phòng Trọ</h1> 

<p>
    <a href="phongtros/create" class="btn btn-primary">Tạo mới</a>
</p>

<QuickGrid Class="table" Items="DB.PhongTro">
    <PropertyColumn Property="phongtro => phongtro.MaChuTro" Title="Mã chủ trọ"/>
    <PropertyColumn Property="phongtro => phongtro.TenChuTro" Title="Tên chủ trọ"/>
    <PropertyColumn Property="phongtro => phongtro.DiaChiTro" Title="Địa chỉ"/>
    <PropertyColumn Property="phongtro => phongtro.TrangThai" Title="Trạng thái"/>
    <PropertyColumn Property="phongtro => phongtro.DienTich" Title="Diện tích"/>
    <PropertyColumn Property="phongtro => phongtro.Gia" Title="Giá"/>
    <PropertyColumn Property="phongtro => phongtro.NgayDang" Title="Ngày đăng"/>
    <PropertyColumn Property="phongtro => phongtro.ChiTiet" Title="Chi tiết"/>

    <TemplateColumn Context="phongtro">
        <a href="@($"phongtros/edit?maphongtro={phongtro.MaPhongTro}")" class="text-decoration-none text-warning fw-medium">Sửa</a> |
        <a href="@($"phongtros/details?maphongtro={phongtro.MaPhongTro}")" class="text-decoration-none text-warning fw-medium">Chi tiết</a> |
        <a href="@($"phongtros/delete?maphongtro={phongtro.MaPhongTro}")" class="text-decoration-none text-warning fw-medium">Xóa</a>
    </TemplateColumn>
</QuickGrid>
