@page "/thanhtoans"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro

<PageTitle>Thanh Toán</PageTitle>

<h1>Thanh Toán</h1>

<p>
    <a href="thanhtoans/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.ThanhToan">
    <PropertyColumn Property="thanhtoan => thanhtoan.MaChiTietThue" />
    <PropertyColumn Property="thanhtoan => thanhtoan.NgayTT" />
    <PropertyColumn Property="thanhtoan => thanhtoan.TongTien" />
    <PropertyColumn Property="thanhtoan => thanhtoan.PhuongThucTT" />

    <TemplateColumn Context="thanhtoan">
        <a href="@($"thanhtoans/edit?mathanhtoan={thanhtoan.MaTT}")">Edit</a> |
        <a href="@($"thanhtoans/details?mathanhtoan={thanhtoan.MaTT}")">Details</a> |
        <a href="@($"thanhtoans/delete?mathanhtoan={thanhtoan.MaTT}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
